* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background: #f9f9f9;
}

header {
    background: #2c3e50;
    color: white;
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.hero {
    background:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("50%.png") center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 3rem 1rem;
}

.btn {
    display: inline-block;
    background: #2c3e50;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1rem;
    border: none;
}

.btn:hover {
    background: #207cd8;
    transform: translateY(-2px);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.products {
    margin: 4rem 0;
}

.products h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
    color: #2c3e50;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.card {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 20px rgb(1, 66, 92);
}

.img {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card h3 {
    color: #151b57;
    margin-bottom: 1rem;
}
.price {
    display: block;
    font-size: 1.5rem;
    color: #d82020;
    font-weight: bold;
    margin-bottom: 1rem;
}

footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}