* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

/* Header */
header {
    background: #2c3e50;
    padding: 1rem;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.navbar a {
    color: white;
    text-decoration: none;
}

/* Produktet */
main {
    max-width: 1250px;
    margin: 2rem auto;
    padding: 1rem;
}

.products h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #2c3e50;
}

/* Rreshti i produkteve */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.card:hover {
    transform: translateY(-5px);
}

.img {
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Teksti */
h3 {
    margin-top: 1rem;
    color: #091f52;
}

p {
    color: #666;
}

.price {
    display: block;
    margin: 1rem 0;
    font-size: 1.4rem;
    color: #d11a1a;
    font-weight: bold;
}

.btn {
    background: #2c3e50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.btn:hover {
    background: #0a6dd8;
}